body {
    background-size:100vh 100vh !important;
}

@font-face {
    font-family: "sofia-bold";
    src: url(sofiabold.otf) format('opentype');
}

p, span {
    font-family: "sofia-bold" !important;
}

#u2 {
    left: 340px !important;
}

#u11_text {
    font-size: 34px;
    top: unset !important;
}