﻿body {
  margin:0px;
  background-image:url('../../images/carlton_marsh_intro/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1001px 1506px;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:160px;
  background:inherit;
  background-color:rgba(99, 123, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:160px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SofiaPro-Bold', 'Sofia Pro Bold', 'Sofia Pro';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:57px;
  width:465px;
  height:67px;
  font-family:'SofiaPro-Bold', 'Sofia Pro Bold', 'Sofia Pro';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:467px;
  white-space:nowrap;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(85, 108, 78, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:99px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:31px;
  width:99px;
  height:99px;
  -webkit-transform:rotate(36deg);
  -moz-transform:rotate(36deg);
  -ms-transform:rotate(36deg);
  transform:rotate(36deg);
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:46px;
  width:71px;
  height:71px;
  color:#000000;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SofiaPro-SemiBold', 'Sofia Pro Semi Bold', 'Sofia Pro';
  font-weight:650;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:52px;
  width:36px;
  height:53px;
  font-family:'SofiaPro-SemiBold', 'Sofia Pro Semi Bold', 'Sofia Pro';
  font-weight:650;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:36px;
  word-wrap:break-word;
}
#u112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:863px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:239px;
  width:863px;
  height:290px;
  opacity:0.8;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:863px;
  height:661px;
  background:inherit;
  background-color:rgba(85, 108, 78, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:690px;
  width:863px;
  height:661px;
  opacity:0.8;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:638px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SofiaPro-ExtraLight', 'Sofia Pro Extra Light', 'Sofia Pro';
  font-weight:200;
  font-style:normal;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:713px;
  width:815px;
  height:638px;
  font-family:'SofiaPro-ExtraLight', 'Sofia Pro Extra Light', 'Sofia Pro';
  font-weight:200;
  font-style:normal;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:815px;
  word-wrap:break-word;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:863px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SofiaPro-Bold', 'Sofia Pro Bold', 'Sofia Pro';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  text-align:center;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:262px;
  width:863px;
  height:90px;
  font-family:'SofiaPro-Bold', 'Sofia Pro Bold', 'Sofia Pro';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  text-align:center;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:863px;
  word-wrap:break-word;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:863px;
  height:338px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:337px;
  width:863px;
  height:338px;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:1370px;
  width:61px;
  height:65px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
