﻿body {
  margin:0px;
  background-image:url('../../images/carlton_marsh_intro/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1001px 1506px;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:160px;
  background:inherit;
  background-color:rgba(99, 123, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:160px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SofiaPro-Bold', 'Sofia Pro Bold', 'Sofia Pro';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:57px;
  width:465px;
  height:67px;
  font-family:'SofiaPro-Bold', 'Sofia Pro Bold', 'Sofia Pro';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:467px;
  white-space:nowrap;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(85, 108, 78, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:99px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:31px;
  width:99px;
  height:99px;
  -webkit-transform:rotate(36deg);
  -moz-transform:rotate(36deg);
  -ms-transform:rotate(36deg);
  transform:rotate(36deg);
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:46px;
  width:71px;
  height:71px;
  color:#000000;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SofiaPro-SemiBold', 'Sofia Pro Semi Bold', 'Sofia Pro';
  font-weight:650;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:52px;
  width:36px;
  height:53px;
  font-family:'SofiaPro-SemiBold', 'Sofia Pro Semi Bold', 'Sofia Pro';
  font-weight:650;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:36px;
  word-wrap:break-word;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:863px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:239px;
  width:863px;
  height:290px;
  opacity:0.8;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:863px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SofiaPro-Bold', 'Sofia Pro Bold', 'Sofia Pro';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  text-align:center;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:309px;
  width:863px;
  height:90px;
  font-family:'SofiaPro-Bold', 'Sofia Pro Bold', 'Sofia Pro';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  text-align:center;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:863px;
  word-wrap:break-word;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SofiaPro-ExtraLight', 'Sofia Pro Extra Light', 'Sofia Pro';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-align:center;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:418px;
  width:693px;
  height:90px;
  font-family:'SofiaPro-ExtraLight', 'Sofia Pro Extra Light', 'Sofia Pro';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-align:center;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:693px;
  word-wrap:break-word;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:863px;
  height:245px;
  background:inherit;
  background-color:rgba(85, 108, 78, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:571px;
  width:863px;
  height:245px;
  opacity:0.8;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:863px;
  height:245px;
  background:inherit;
  background-color:rgba(85, 108, 78, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:836px;
  width:863px;
  height:245px;
  opacity:0.8;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:863px;
  height:245px;
  background:inherit;
  background-color:rgba(85, 108, 78, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:1101px;
  width:863px;
  height:245px;
  opacity:0.8;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SofiaPro-SemiBold', 'Sofia Pro Semi Bold', 'Sofia Pro';
  font-weight:650;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:617px;
  width:362px;
  height:103px;
  font-family:'SofiaPro-SemiBold', 'Sofia Pro Semi Bold', 'Sofia Pro';
  font-weight:650;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:362px;
  word-wrap:break-word;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SofiaPro-SemiBold', 'Sofia Pro Semi Bold', 'Sofia Pro';
  font-weight:650;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:881px;
  width:378px;
  height:103px;
  font-family:'SofiaPro-SemiBold', 'Sofia Pro Semi Bold', 'Sofia Pro';
  font-weight:650;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:378px;
  word-wrap:break-word;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SofiaPro-SemiBold', 'Sofia Pro Semi Bold', 'Sofia Pro';
  font-weight:650;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:1147px;
  width:378px;
  height:103px;
  font-family:'SofiaPro-SemiBold', 'Sofia Pro Semi Bold', 'Sofia Pro';
  font-weight:650;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:378px;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:188px;
  width:105px;
  height:105px;
  color:#000000;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:177px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:870px;
  width:461px;
  height:177px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:177px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:1135px;
  width:461px;
  height:177px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:177px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:605px;
  width:461px;
  height:177px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SofiaPro-ExtraLight', 'Sofia Pro Extra Light', 'Sofia Pro';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:underline;
  color:#FFFFFF;
  text-align:center;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:720px;
  width:362px;
  height:50px;
  font-family:'SofiaPro-ExtraLight', 'Sofia Pro Extra Light', 'Sofia Pro';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:underline;
  color:#FFFFFF;
  text-align:center;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:362px;
  word-wrap:break-word;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SofiaPro-ExtraLight', 'Sofia Pro Extra Light', 'Sofia Pro';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:underline;
  color:#FFFFFF;
  text-align:center;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:984px;
  width:362px;
  height:50px;
  font-family:'SofiaPro-ExtraLight', 'Sofia Pro Extra Light', 'Sofia Pro';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:underline;
  color:#FFFFFF;
  text-align:center;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:362px;
  word-wrap:break-word;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SofiaPro-ExtraLight', 'Sofia Pro Extra Light', 'Sofia Pro';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:underline;
  color:#FFFFFF;
  text-align:center;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:1250px;
  width:362px;
  height:50px;
  font-family:'SofiaPro-ExtraLight', 'Sofia Pro Extra Light', 'Sofia Pro';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:underline;
  color:#FFFFFF;
  text-align:center;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:362px;
  word-wrap:break-word;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:55px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:214px;
  width:62px;
  height:55px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:1370px;
  width:61px;
  height:65px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
